.container {
    border-radius: var(--border-radius-small);
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.item {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 450px;
    margin-right: var(--spacing-medium);
    border-radius: var(--border-radius-small);
    transition: var(--transition);
}
.item__text {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-left: 5px;
    color: var(--color-white);
}
.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}
.item__light {
    text-shadow: 0 0 5px rgb(55, 198, 255);
    color: blue;
    &:hover {
        box-shadow: 0 0 7px rgba(55, 198, 255, .4);
    }
}
.item__dark {
    text-shadow: 0 0 5px rgb(155, 18, 155);
    color: red;
    &:hover {
        box-shadow: 0 0 7px rgba(155, 18, 155, .4);
    }
}
.item__neitral {
    text-shadow: 0 0 5px rgb(155, 198, 255);
    color: green;
    &:hover {
        box-shadow: 0 0 7px rgba(155, 198, 255, .4);
    }
}