.link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    font-weight: var(--font-bold);
    color: var(--color-white);

}
.img {
    mix-blend-mode: multiply;
    width: 30px;
    height: 30px;
    background-color: white;
    object-fit: cover;
    object-position: center center;
    margin-right: var(--spacing-medium);
}