.button {
    min-width: 100px;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, serif;
    background: none;
    outline: none;
    transition: var(--transition);
    cursor: pointer;
}
.dark {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}
.light {
    border: 1px solid var(--color-black);
    color: var(--color-black);
}
.dark:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
.light:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
.button:disabled,
.button:disabled:hover {
    background-color: transparent;
    border-color: var(--color-gray);
    color: var(--color-gray);
    cursor: auto;
}