.wrapper {
    margin-top: 45px;
}
.person__name {
    color: var(--color-black);
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255);
    padding: 5px;
}
.container {
    border-left: 5px solid rgb(255 255 255);
    padding: var(--spacing-medium);
    display: flex;
    flex-wrap: wrap;

}
